In [5]:
student_scores = [12,34,55,66,87,99,56,66,87,43,23,56,87,65,98,9,44]
for marks in student_scores:
    if marks > 60:
        if marks >70:
            print(marks,'excellent marks keep it up')      # the four space leave in the next line after colon is indentation
    elif marks >50 and marks <=60:
        print (marks,'good marks')
    elif marks >=35 and marks<=50:
        print(marks,'pass')
    else:
        print(marks,'fail better lucknext time')

12 fail better lucknext time
34 fail better lucknext time
55 good marks
87 excellent marks keep it up
99 excellent marks keep it up
56 good marks
87 excellent marks keep it up
43 pass
23 fail better lucknext time
56 good marks
87 excellent marks keep it up
98 excellent marks keep it up
9 fail better lucknext time
44 pass

In [8]:
salary = [23000,56000,67000,89000,43000,12000]
for value in salary:
    if value>30000:
        print(value)

56000
67000
89000
43000

list comprehension :List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list.

In [21]:
salary = [2000,4000,5000,7000,8800,8000,9900]
salary = [val for val in salary if val>5500]
print(val)

NameError: name 'val' is not defined

list  is group of different type of elements

syntax of list comprehension :
[expression for item in iterable] #expression will give the element of list

In [13]:
[x for x in range(1,11)]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Iterable is an object which can be looped over or iterated over with the help of a for loop. Objects like lists, tuples, sets, dictionaries, strings, etc. are called iterables. In short and simpler terms, iterable is anything that you can loop over

In [14]:
#[expression for item in iterable if conditional]    #if condition
#[expression if conditional else statement for item in iterable]  #syntax for if and else condition

In [16]:
salary = [12000,44000,56000,78000,43000,23000,32000,15000]
sal = [val for val in salary if val > 30000]

In [17]:
salary

[12000, 44000, 56000, 78000, 43000, 23000, 32000, 15000]

In [18]:
sal

[44000, 56000, 78000, 43000, 32000]

In [25]:
marks = [12,23,44,65,73,68,92,34,92,16,90,83,26]     #syntax for list comprehension with if condition
marks = [val for val in marks if val > 45]            #it will give the result in list form
print(marks)

[65, 73, 68, 92, 92, 90, 83]

In [27]:
#if and else syntax
[x if x>2 else x+1 for x in range(1,11)]

[2, 3, 3, 4, 5, 6, 7, 8, 9, 10]

#  FOR LOOP WITH ELSE:

In [34]:
for num in range(2,5):
    print('multiplication table for -' , num)
    for i in range(1,11):
        print(num * i)
        if i == 10:
            print('\n')
    else:
        print( '*' * 30)
        print('end of multiplication table')
        print('*' * 30)

multiplication table for - 2
2
4
6
8
10
12
14
16
18
20


******************************
end of multiplication table
******************************
multiplication table for - 3
3
6
9
12
15
18
21
24
27
30


******************************
end of multiplication table
******************************
multiplication table for - 4
4
8
12
16
20
24
28
32
36
40


******************************
end of multiplication table
******************************

# while loop:

In [37]:
print('datatrained ' * 10)

datatrained datatrained datatrained datatrained datatrained datatrained datatrained datatrained datatrained datatrained

In [39]:
i= 0       #(before first time it is equal to 0)
while i<10:
    i = i +1
    print(i,'data trained')    #this is the use of while loop

1 data trained
2 data trained
3 data trained
4 data trained
5 data trained
6 data trained
7 data trained
8 data trained
9 data trained
10 data trained

In [41]:
#one more example
#setting an alarm
import time 
result = time.localtime()
print(result)

time.struct_time(tm_year=2022, tm_mon=11, tm_mday=15, tm_hour=14, tm_min=1, tm_sec=53, tm_wday=1, tm_yday=319, tm_isdst=0)

In [42]:
while True:
    result = time.localtime()
    if result.tm_hour == 14 and result.tm_min ==8:
        print('wakeup call')
        break                    #it will showing time till the time will not match
                                #without break wakeup call will not stop so writing break is imp

wakeup call

Difference b/w for and while looP:
  #IN FOR loop we know how many time it will gonna execute
  #in while loop we don't know how many time it will execute.

# enumerate: 
                    it's going to tag the index no for every name

In [43]:
students = ['naveen','ratna','pooja','allen','jaadu']
for name in enumerate(students):
    print(name)

(0, 'naveen')
(1, 'ratna')
(2, 'pooja')
(3, 'allen')
(4, 'jaadu')

In [45]:
#for name in enumerate(students,100)  , it will start from index 100

In [46]:
students = ['naveen','ratna','pooja','allen','jaadu']
for name in enumerate(students , 100):
    print(name)

(100, 'naveen')
(101, 'ratna')
(102, 'pooja')
(103, 'allen')
(104, 'jaadu')

# zip:

In [47]:
students_name = ['ravi','sushma','naveen','rooh','jind','rooh','aau']
students_marks = [12,23,44,65,83,45,98]

In [49]:
student_details = list(zip(students_name,students_marks))

In [51]:
student_details

[('ravi', 12),
 ('sushma', 23),
 ('naveen', 44),
 ('rooh', 65),
 ('jind', 83),
 ('rooh', 45),
 ('aau', 98)]

# unzip

#note = in zip the zip thing will take thing upto the data only , if the marks are upto index 10 but the no of students are only 5 then it will zip the marks upto 5 students only

In [52]:
unzip_students = students_name , students_marks

In [53]:
unzip_students

(['ravi', 'sushma', 'naveen', 'rooh', 'jind', 'rooh', 'aau'],
 [12, 23, 44, 65, 83, 45, 98])

# break and continue statement

In [66]:
#use of break system inside the loop
city = ['bengaluru','noida','chennai','nagpur','sirsa']
for val in city:
    if val == 'chennai':
        break
        print(val)

In [64]:
val

'chennai'

In [62]:
city

['bengaluru', 'noida', 'chennai', 'nagpur', 'sirsa']

In [67]:
salary = [12000,34000,67000,89000,63000,21000]
if val in salary >69000:
    break
    print(val)

SyntaxError: 'break' outside loop (732652737.py, line 3)